:root {
  --dasar: #f5f5dc;
  --background: #f5f5dc;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: white;
  min-height: 1450px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(11, 9, 6, 0.8);
  border-bottom: 1px solid #f5f5dc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: black;
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(#f5f5dc);
}


/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    RGB (245, 245, 223) 3%,
    RGB (245, 245, 223) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 100rem;
}

.hero .content h1 {
  font-size: 1em;
  color: blanchedalmond;
  text-shadow: 1px 1px 3px rgb(1, 1, 3, 0.5);
  line-height: 3.4;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  color: white;
  background-color: var(--background);
}

.mainbio {
  display: inline-block;
}

.ft {
  width: 30%;
  float: left;
}

.gambar-kecil {
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 550px;
  padding: 5rem 2rem;
  float: left;
  margin-top: 60px;
}

.biodata {
  width: 90%;
  font-family: "Poppins", sans-serif;
  padding: 11rem;
  font-size: 20px;
  justify-content: center;
  color: black;
}

.footer {
  /* background-color: whitesmoke; */
  color: black;
  text-align: center;
  padding: 2rem;
  /* position: fixed; */
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  bottom: 0;
}

/* media queries */

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--background);
    display: block;
    margin: 1.5rem;
    padding: 0, 5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
}
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
